body {
    background: #fff3dc;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #2e0202;

}

.titulo-centralizado {
    text-align: center;
    color: #000000;
}

.titulo-centralizado2 {
    text-align: center;
    color: #FFA500;
}


.texto-justificado {
    margin: 0 auto;
    text-align: justify;
    line-height: 1.4;
    width: 60%;
}

.main-titulo-centralizado {
    text-align: center;
    color: rgb(255, 255, 255);
}

.linha-separadora {
    width: 50%;
}

h2,
.link-time {
    color: #ff0000;
}

.profile-image {
    border-radius: 60px;
    width: 20%;
}

.profile-image-times {
    width: 20px;
}

.tabela {
    margin: 0 auto;
    color: #FFA500;
    border-collapse: collapse;
    width: 100%;
}


.menu {
    display: flex;
    justify-content: space-around;
    background-color: #FFA500;
    padding: 15px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    transition: color 0.5s;
}

.menu a:hover {
    color: #FFFFFF;
}

.tabela-produtos-container {
    text-align: center;
}

.tabela-produtos {
    margin: 0 auto;
    color: #FFA500;
    border-collapse: collapse;
    width: 10%;
    background-color: #FFFFFF;
}

.tabela-produtos td {
    border: #000000 1px solid;
}

.tabela-produtos td:not(:last-child) {
    border-bottom: #000000 1px solid;
}

.tabela-produtos img {
    display: block;
    margin: 0 auto;
    width: 300px;
    align-items: center;
}


.faixa-laranja {
    background-color: #FFA500;
    height: 30px;
    width: 100%;

}

.footer-centralizado {
    color: #000000;
    text-align: center;
    background-color: #FFA500;
    height: 100px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    color: #000000;
}

th {
    text-align: center;
}

td {
    text-align: center;
}